<footer>

        <p>Skatepark ©2024</p>

        <div id="rrss">
            <img class="imgrrss" src="/public/images/instagram.png" alt="logo instagram">
            <img class="imgrrss" src="/public/images/facebook.png" alt="logo instagram">
        </div>

</footer>